


.produto-container {
    display: flex;
    gap: 40px;
    padding: 40px;
}

.galeria {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumb {
    width: 60px;
    cursor: pointer;
}

.imagem-principal img {
    display: flex;
    height: 80vh;
}

.info {
    max-width: 300px;
}

.preco {
    color: blue;
    font-size: 20px;
    margin: 10px 0;
}

.acoes {
    display: flex;
    gap: 10px;
}

.btn-carrinho {
    background: #4c5fd5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-fav {
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}